*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 415px;
    height: 100vh;
    background-color: rgb(70, 137, 238);;
    margin: auto;
    align-items: center;
}
.imgChampion{
    margin: 15px;
    width: 100%;
    height: 350px;
    margin-bottom: 0;

}
.imgChampion2{
    width: 100%;
    height: 100%;
}
.imgChampion3{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95%;
}
#text{
    margin-top: 5px;
    margin-bottom: 0;
    width: 90%;
    min-height: 30px;
    border: solid rgb(202, 200, 200);
}
#description{
    overflow:auto;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    width: 90%;
    height: 30vh;
    background-image: linear-gradient(180deg, white, rgb(197, 192, 192));  
    border: solid rgb(0, 18, 77);

}
#button{
    background-color: rgb(255, 145, 0);
    width: 60%;
    min-height: 30px;
    margin-top: 10px;
    font-weight: 700;
}
#button:hover{
    background-color: rgb(223, 172, 7);
}
#button:active{
    background-color: rgb(251, 255, 4);
}
h1{margin-bottom: 0;
    margin-top:-7px;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    letter-spacing: -3px;
    color: rgb(255, 153, 0);
    text-shadow: -3px 1px 2px rgb(1, 9, 82);
    font-size: 40px; 
}
